<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>User Dashboard</title>
</head>
<body>
	<section>


		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form class="mt-2" th:action="@{/user/process-contact}"
								th:object="${contact}" enctype="multipart/form-data"
								method="post">

								<!-- first name -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input required="required" type="text" id="firstName"
										name="name" placeholder="Enter name here" class="form-control" />

								</div>

								<!-- nick name -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-user-alt"></i>
										</div>
									</div>
									<input required="required" type="text" id="nickName"
										name="nickName" placeholder="Enter nick name here"
										class="form-control" />

								</div>

								<!-- phone -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-phone"></i>
										</div>
									</div>
									<input required min="10" type="number" id="phone" name="phone"
										placeholder="Enter phone no here" class="form-control" />

								</div>

								<!-- Email -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa-solid fa-at"></i>
										</div>
									</div>
									<input required="required" type="email" id="email" name="email"
										placeholder="Enter email here" class="form-control" />

								</div>

								<!-- work -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa-solid fa-briefcase"></i>
										</div>
									</div>
									<input required="required" type="text" id="work" name="work"
										placeholder="Enter work here" class="form-control" />

								</div>

								<!-- Description -->
								<div class="form-group mt-3">
									<textarea rows="10" name="description" id="mytextarea"
										placeholder="Enter description here" class="form-control"></textarea>
								</div>

								<!-- IMAGE FIELD -->
								<div class="custom-file">
									<input required="required" type="file" name="profileImage" />
								</div>

								<div class="container text-center">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js"
			referrerpolicy="origin"></script>
		<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>

		<script type="text/javascript">
			$(document).ready(()=>{
			$(".item").removeClass("active'");
			$("#add-link").addClass("active");
			});
		</script>
	</section>

</body>
</html>
